body{
    background-image: url(../img/python.png);
    
}

.produto{
background-color: white;
border-radius: 30px;
width: 800px;
flex:1;
display:flex;
justify-content:center;
align-items:center;
margin: auto;
margin-top: 80px;
gap:50px;
padding:50px;

}


.informacoes{

width:400px;

}

.informacoes h2{

color:#0083fd;
margin-bottom:20px;

}

.informacoes p{

margin-bottom:15px;

}

.informacoes h3{

color:green;
margin:20px 0;

}

.informacoes button{

width:200px;
padding:12px;
margin:10px;
border:none;
border-radius:5px;
background:#ffb730;
color:white;

}